<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <!-- 引入 echarts.js -->
    <script src="/static/echarts.common.min.js"></script>
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 1500px;height:400px;"></div>
    <script type="text/javascript">
        var fid = new Array();
        var unum = new Array();
        var myChart = echarts.init(document.getElementById('main'));

        $.ajax({
            type: "get",
            url: "/timelion",
            //data : {"year":year},
            cache : false,	//禁用缓存
            dataType: "json",
            success: function(result) {
                // alert(result.data[0])
                var j = result.data
                for ( var i = 1; i < j.length; i++){
                    fid.push(j[i]["fid"]),
                    unum.push(Number(j[i]["unum"]));
                    // console.log(unum);
                }
                var option = {
                    title: {
                        text: '虎扑板各块帖量'
                    },
                    tooltip: {},
                    legend: {
                        data:['帖子数量']
                    },
                    xAxis: {
                        data: fid
                    },
                    yAxis: {},
                    series: [{
                        name: '销量',
                        type: 'bar',
                        data: unum
                    }]
                };

                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert("查询失败");
            }
        });
        window.setInterval(function(){$.ajax()},1000);
    </script>
</body>
</html>